importlib-metadata==6.8.0
MouseInfo==0.1.3
numpy==1.26.2
opencv-python==4.8.1.78
Pillow==10.1.0
platformdirs==4.0.0
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytweening==1.0.7
pywin32==306
tomli==2.0.1
yapf==0.33.0
zipp==3.17.0
pytesseract==0.3.10
